.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 6rem 2rem 2rem;
	min-height: 100vh;
	background-color: #f8f9fa;
	position: relative;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.title {
	position: sticky;
	top: 0px;
	z-index: 100;
	background-color: #f8f9fa;
	padding: 1rem 0;
	margin: 0;
	backdrop-filter: blur(5px);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
	text-align: center;
	color: rgba(0, 0, 0, 0.8);
	font-size: 2.5rem;
	font-weight: 300;
	letter-spacing: 1px;
}

.list {
	list-style: none;
	padding: 0;
	counter-reset: todo-counter;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list li {
	padding: 1.5rem;
	counter-increment: todo-counter;
	font-size: 1.1rem;
	color: #333;
	border-bottom: 1px solid #eee;
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	text-align: left;
}

.list li:last-child {
	border-bottom: none;
}

.list li::before {
	content: counter(todo-counter);
	margin-right: 1rem;
	width: 30px;
	height: 30px;
	background-color: #3498db;
	color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.list span {
	flex-grow: 1;
	word-break: break-word;
}

@media (max-width: 768px) {
	.container {
		padding: 5rem 1rem 1rem;
	}

	.title {
		padding: 0.5rem 0;
		font-size: 2rem;
	}

	.list li {
		padding: 1rem;
		font-size: 1rem;
	}

	.list li::before {
		width: 25px;
		height: 25px;
	}
}

.update {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(200, 200, 200, 0.9);

	padding: 6rem 2rem 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 9999;
}

.spinner {
	display: block;
	width: 50px;
	height: 50px;
	margin: 2rem auto;
	border: 5px solid #e3e3e3;
	border-radius: 50%;
	border-top-color: #3498db;
	animation: rotate 1s linear infinite;
}

.message {
	font-family: Arial, sans-serif;
	font-size: 1.2em;
	color: #333;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.controls {
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
	position: sticky;
	top: 80px;
	background: rgba(248, 249, 250, 0.9);
	padding: 1rem 0;
	z-index: 50;
	backdrop-filter: blur(5px);
}

.search {
	display: flex;
	margin-bottom: 2rem;
	position: sticky;
	top: 170px;
	background: rgba(248, 249, 250, 0.9);
	padding: 1rem 0;
	z-index: 40;
	backdrop-filter: blur(5px);
}

.controlsUpdate {
	width: 800px;
	display: flex;
	gap: 1rem;
}

.input {
	flex: 1;
	padding: 0.8rem;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1rem;
	background-color: #eee;
	color: rgba(0, 0, 0, 0.8);
}

.inputUpdate {
	flex: 1;
	padding: 0.8rem;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1rem;
	background-color: #eee;
	color: rgba(0, 0, 0, 0.8);
}

.button,
.buttonDelete,
.buttonUpdate,
.buttonSave,
.buttonCancel {
	padding: 0.8rem 1.5rem;
	border: none;
	border-radius: 4px;
	background: #3498db;
	color: white;
	cursor: pointer;
	transition: background 0.3s;
}

.button:hover {
	background: #2980b9;
}

.buttonDelete {
	background: #e72b2b;
	/* margin-left: 10px; */
}

.buttonDelete:hover {
	background: #c02727;
}

.buttonUpdate {
	background: #67e72b;
	/* margin-left: 10px; */
}

.buttonUpdate:hover {
	background: #59c527;
}

.editContainer {
	display: flex;
	gap: 8px;
	margin: 8px 0;
}

.inputEdit {
	flex: 1;
	padding: 0.8rem;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1rem;
	background-color: #eee;
	color: rgba(0, 0, 0, 0.8);
}

.buttonSave {
	background-color: #4caf50;
	/* margin-left: 10px; */
}

.buttonCancel {
	background-color: #f44336;
	/* margin-left: 10px; */
}

.buttonSave:hover {
	background-color: #418343;
}

.buttonCancel:hover {
	background-color: #c13d33;
}

.activeSort {
	background-color: #4caf50;
}

.activeSort:hover {
	background-color: #2a662c;
}
